body {
    background-color:rgb(119, 79, 5);
    display: flex;
    justify-content: center;
}

.box {
    width: 1500px;
    border: 15px solid rgb(126, 128, 0);
    padding: 0;
    margin: 0;
}
    
h1 {
    color: rgb(235, 231, 46);
    text-align: center;
    font-size: 75px;
}

#countdown {
    font-size: 50px;
    text-align: center;
}
.input__list {
    text-align: center;
    font-size: 20px;
}


.input__group {
    width: 50;
    border: 15px solid rgb(231, 235, 33);
    padding: 25px;
    margin: 15px
}
#start {
    width: 200px;
    padding: 30px;
    font-size: large;
    background-color: rgb(183, 202, 14);
    
}
#days {
    width: 300px;
    padding: 20PX;
    font-size: larger;
    background-color: rgb(183, 202, 14);
}

#hours {
    width: 300px;
    padding: 20PX;
    font-size: larger;
    background-color: rgb(183, 202, 14);
}

#minutes {
    width: 300px;
    padding: 20PX;
    font-size: larger;
    background-color: rgb(183, 202, 14);
}

#seconds {
    width: 300px;
    padding: 20PX;
    font-size: larger;
    background-color: rgb(183, 202, 14);
}
